In [4]:
# https://towardsdatascience.com/solving-a-simple-classification-problem-with-python-fruits-lovers-edition-d20ab6b071d2

In [5]:
import pandas as pd
fruits = pd.read_csv('fruits.csv')

# Classify the fruits with some models

In [6]:
fruits.head()

   fruit_label fruit_name fruit_subtype   mass  width  height  color_score
0          1.0      apple  granny_smith  180.0    8.0     6.8         0.59
1          1.0      apple  granny_smith  176.0    7.4     7.2         0.60
2          2.0   mandarin      mandarin   86.0    6.2     4.7         0.80
3          2.0   mandarin      mandarin   84.0    6.0     4.6         0.79
4          2.0   mandarin      mandarin   80.0    5.8     4.3         0.77

In [7]:
fruits.describe()

       fruit_label        mass      width     height  color_score
count    58.000000   58.000000  58.000000  58.000000    58.000000
mean      2.568966  162.620690   7.082759   7.700000     0.766552
std       1.201053   55.365081   0.805712   1.371898     0.072124
min       1.000000   76.000000   5.800000   4.000000     0.590000
25%       1.000000  140.000000   6.550000   7.200000     0.720000
50%       3.000000  158.000000   7.200000   7.600000     0.750000
75%       4.000000  175.500000   7.500000   8.200000     0.810000
max       4.000000  362.000000   9.600000  10.500000     0.930000